@import "../../theme/reset-variables";
.el-button--default{
  &:hover,
  &:focus{
    background-color: $--color-white;
    border-color: $--border-color-base;
    color: $--color-text-regular;
  }
  &.is-plain{
    border-color:$--color-primary;
    color: $--color-primary;
    &:hover,
    &:focus{
      border-color:$--color-primary;
      color: $--color-primary;
    }
  }
}

.el-button--text{
  color: $--link-color;
  &:hover,
  &:focus{
    color: $--link-hover-color;
  }
}

.el-button--primary.is-plain{
  border-color: $--color-primary ;
  &:hover,
  &:focus{
    background-color: $--color-primary-light-9 !important;
    color: $--color-primary !important;
    box-shadow: 1px 1px 3px $--color-primary-light-2;
  }
}
