@import "../../theme/reset-variables";
.dm-elem--no-scale {
  flex-shrink: 0;
  flex-grow: 0;
}

.dm-elem--1x{
  flex: 1;
}
.dm-elem--2x{
  flex: 2;
}
.dm-elem--flex{
  display: flex;
}
.dm-elem--inline-block{
  display: inline-block;
}
.dm-text--bold{
  font-weight: bold;
}

.dm-page-title{
  color: $--color-text-primary;
  margin: $--area-vertical-gap 0;
  font-weight: bold;
}

.dm-page-title--large{
  font-size: $--font-size-large;
}

.dm-page-title--small{
  font-size: $--font-size-medium;
}

.dm-block--r{
  float: right;
}
.dm-block--overflow-hidden{
  overflow: hidden;
}

.dm-text--clear{
  &:after{
    content: '';
    display: block;
    width: 0;
    clear: both;
  }
}
