@import "../../theme/reset-variables";
.dm-search-box{
  margin-bottom: $--area-vertical-gap;
}
.dm-search-box-content{
  display: flex;
  flex-wrap: wrap;
}
.dm-search-box__item{
  margin-right: $--search-box-margin-horizontal;
  margin-bottom: $--search-box-margin-vertical;
  align-items: center;
  white-space: nowrap;
}

.dm-search-box__button{
  margin-bottom: $--search-box-margin-vertical;
}
.dm-search-label{
  margin-right: 8px;
  font-size: $--font-size-base;
  color: $--color-text-regular;
}
