@import "../../theme/reset-variables";
.dm-search-box{
  margin-bottom: $--area-vertical-gap;
}
.dm-search-box__item{
  margin-right: $--search-box-margin-horizontal;
  margin-bottom: $--search-box-margin-vertical;
}

.dm-search-box__button{
  margin-bottom: $--search-box-margin-vertical;
}
