@import "../../theme/reset-variables";
.el-tag.el-tag--info{
  border-color: $--border-color-base;
  background-color: $--border-color-base;
  color: $--color-text-primary;
  .el-tag__close{
    color: $--color-white;
  }
}
