/* 改变主题色变量 */
$--color-primary: #FE9350;
$--color-success:#67c23a;
$--color-warning:#e6a23c;
$--color-danger:#f56c6c;
$--color-secondary:#2298E4;
$--color-white:#ffffff;
$--border-color-base:#e4e7ed;
/// color|1|Font Color|2
$--color-text-primary: #333333;
/// color|1|Font Color|2
$--color-text-regular: #606266;
/// color|1|Font Color|2
$--color-text-secondary: #909399;
/// color|1|Font Color|2
$--color-text-placeholder: #C0C4CC;

/* Typography */
$--font-size-large: 16px;
$--font-size-medium: 14px;
$--font-size-base:13px;
$--font-size-small: 12px;
$--font-size-extra-small: 11px;
$--font-weight-primary:400;
$--font-weight-secondary: 200;
$--font-line-height-primary: 1.5;
$--font-line-height-secondary: 1.3;

/* button */
$--button-hover-tint-percent: 0;

/* link */
$--link-color:$--color-secondary;
$--link-hover-color: $--color-secondary;

/* Pagination */
$--pagination-button-width: 30px;
$--pagination-button-height: 30px;

/* table */
$--table-border-color:#dcdfe6;
$--table-header-font-color:$--color-text-primary;
$--table-font-color:$--color-text-primary;
$--table-row-hover-background-color:transparent;
$--table-current-row-background-color:$--color-white;
$__table-stripe_background-color:#f8f8f8;


/* status-filter */
$__status-filter-padding-horizontal:10px;

/* search-box */
$__search-box-margin-horizontal:10px;

/* icon */
$--icon-color:$--color-text-secondary;

/* select */
$--select-icon-color:$--color-text-secondary;
